/* Sử dụng box-sizing: border-box để không bị phá vỡ cấu trúc khối */
/* Bắt buộc 3 tham số này viết đầu tiên */
* {
  box-sizing: border-box;
}

html {
  /* Quy đổi 1 rem = 10px */
  font-size: 62.5%;
}

/* Khôi phục cỡ chữ mặc định */
body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

/* ======================================================================= */

/* Code các phần chung trước */
a {
  text-decoration: none;
}

.main-content {
  /* Căn giữa header */
  margin-right: auto;
  margin-left: auto;

  /* Giữ tỷ lệ căn lề */
  max-width: calc(100% - 48px);
}

.btn {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 2.4rem;
  background-color: #12110f;
  height: 5rem;
  width: 11.8rem;
  padding: 0.5rem 1.6rem;
  display: inline-block;
  align-content: center;
}

/*====================== Page1 ===========*/

/* =================header================= */

/* Cố định thanh menu */

.header .body-header {
  display: flex;
  padding: 3.6rem 1rem;
  background-color: rgb(213, 220, 234);
  border-radius: 0.5rem;
  min-width: fit-content;
  align-items: center;
}

.nav-header {
  margin-left: auto;
  position: relative;
}

.nav-header ul {
  margin-right: auto;
  display: flex;
}

.nav-header a {
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 0.8rem 2.1rem;
  position: relative;
}

.nav-header a:hover {
  color: rgb(21, 21, 63);
  font-weight: 600;
  /* text-shadow: 1 0 0 currentColor; */
}

/* Thêm dấu gạch dưới ở Home */
.nav-header li.active a::before {
  display: inline-block;
  content: "";
  width: 1.2rem;
  height: 0.2rem;
  border-radius: 1px;
  background-color: #5f5b53;
  position: absolute;
  bottom: 0.6rem;
}

.header .btn-sign-up {
  min-width: 14.4rem;
}


.btn:hover {
  background-color: #fff;
  color: #12110f;
}

/* Phần image */
.container_courses {
  display: flex;
  margin: 2rem;
  position: relative;
  justify-content: center;
  background-color: antiquewhite;
  max-width: auto;
  min-width: auto;
  
}

.image {
  margin: 20px;
}
.image img {
  border-radius: 2rem;
  width: 30rem;
  margin: 6rem 6rem;
  min-width: auto;
}

.list_courses {
  border-radius: 1.5rem;

  /* margin: auto auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 35%;

  /* z-index: 1; */
  background-color: rgb(170, 149, 149);
  min-width: auto;
  min-height: auto;
  max-height: fit-content;
}

#course {
  list-style: none;
}

.number_courses {
  color: #72716e;
  font-size: 1.5rem;
}

.name_courses {
  font-size: 2rem;
  font-weight: bolder;
}

.item_course {
  display: flex;
  margin: 1.5rem 1rem;
}

.item_course i {
  font-size: 2.5rem;
  padding: 0.5rem 0.5rem;
}

/* ====== Phần learn without ===========*/

.learn {
  width: 30vw;
  height: 55wh;
  margin: 1.5rem 6rem;
}
.learn h1 {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  line-height: 6.8rem;
}

.learn p {
  line-height: 3rem;
  text-align: justify;
  font-size: 1.8rem;
}

.see_watch {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.btn_see_courses {
  background-color: rgb(187, 187, 33);
  margin-right: 4rem;
  margin-left: 4rem;
  width: 15rem;
  height: 6rem;
}

.btn_see_courses:hover {
  background-color: #5f5b53;
  color: #fff;
}

.see_watch i {
  font-size: 2rem;
  margin-left: 7rem;
  margin-right: 1rem;
}

.recent {
  margin-top: 4rem;
}

.recent_state {
  display: flex;
  width: 30rem;
  justify-content: space-between;
}

.recent strong {
  font-weight: 600;
  font-size: 3rem;
}
